{% for section in sections %}

<div class="about-box-main" style="background: #f5f5f5 !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"> 
                    {% if section.video != "" %}
                    <video src="{{section.video.url}}" poster="{{section.image.url}}" class="img-fluid" controls></video>
                    {% else %}
                    <img class="img-fluid" src="{{section.image.url}}" alt="" />
                    {% endif %}
                    
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">{{ section.titre }}</h2>
                {{section.contenu | safe}}
                <a class="btn hvr-hover" href="{% url 'demande' %}">{{ section.bouton }}</a>
            </div>
        </div>


    </div>
</div>{% endfor %}

<br>