{% extends 'ecommerce/base.html' %}
{% block content %}
{% load widget_tweaks %}


<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Valider la commande</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Boutique</a></li>
                    <li class="breadcrumb-item active">Valider</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        
        <div class="row">
            
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="row">
                    
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
                            <div class="title-left">
                                <h3>Article choisi</h3>
                            </div>
                            <div class="rounded p-2 bg-light">
                                
                                <img src="{{ articles.image1.url }}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left">
                                
                            </div>
                            
                            
                            <div class="d-flex gr-total">
                                <h5>Prix: </h5>
                                <div class="ml-auto h5"> {{articles.prix}} FCFA l'unité </div>
                            </div>
                            <hr> </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>Informations personnelles</h3>
                    </div>
                    <form class="needs-validation"  method="post">
                        {% csrf_token %}
                        {% if non %}
                        <b>Veillez entrez des valeurs valides</b>
                        
                        {% endif %}

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Nom et prénom</label>
                                
                                
                                {% render_field form.nom class="form-control" id="firstName" %}
                                
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Email *</label>
                                
                                {% render_field form.email class="form-control" id="lastName" %}
                                
                               
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email">Numero de téléphone *</label>
                            
                            {% render_field form.telephone class="form-control" id="email" %}
                        </div>
                        <div class="mb-3">
                            <label for="address">Adresse *</label>
                            
                            {% render_field form.adresse class="form-control" id="address"   %}
                            
                        </div>
                        <div class="mb-3">
                            <label for="address">Quantité *</label>
                            
                            {% render_field form.quantity class="form-control" id="address" placeholder=""    %}
                            
                        </div>
                        
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="country">Pays *</label>
                                
                                {% render_field form.pays class="wide w-100" id="country"    %}
                           
                                
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="state">Ville *</label>
                                
                                {% render_field form.province class="wide w-100" id="state" %}
                                
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="zip">BP *</label>
                                
                                {% render_field form.boite class="form-control" id="zip" placeholder="" %}

                               
                            </div>
                        </div>
                        <hr class="mb-4">
                        
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="save-info" required>
                            <label class="custom-control-label" for="save-info">Confirmer et enregistrer</label>
                        </div>

                    
                        <hr class="mb-4">
                        <style>
                            .errorlist li {
                                color: red !important;
                            }
                        </style>
                        <div class="col-12 d-flex shopping-box"> <button type="submit" class="ml-auto btn hvr-hover" style="color: white !important; ">Commander</button> </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}