{% extends 'ecommerce/base.html' %}
{% block content %}
<br>
<br>
<center style="width: 100% !important; display:flex; align-items:center; justify-content:center;">
    <div class="sam" style="text-align: center; width: 500px; color: white !important; background: #56CB72; padding: 20px; border-radius: 4px;">

        <h2 style='text-align: center; color: white !important; font: 900 !important;'>Merci pour votre visite, votre a été enregistrée, nous vous contacterons. <br> 🤗</h2>
        <h2 style='text-align: center; color: white !important; font: 900 !important;'>Vous pouvez nous contacter au +241 57 00 40</h2>

        <br/>
        
        <p><a href="{% url 'home' %}"  class="btn btn-info">Accueil</a></p>

    </div>
</center>
<br>
<br>


{% endblock content %}